#hero-intro {
    margin: 200px 24px 0 24px;
}

.btn {   
    text-transform: uppercase;
}  
    
.btn:active .btn-slide-show-text1 {  
    margin-left: 65px;
}  
    
.btn-shadow-drop {  
    position: relative;  
    margin-top: 10%;   
    background: black;  
    padding: 20px;  
    font-size: 16px;  
    font-weight: 700;   
    transition: 0.2s ease-in-out;  
    left: 0px;  
    top: 0px;  
    width: 180px;
}  
    
.btn-shadow-drop:active {  
        left: 4px;  
        top: 4px;  
        color: rgb(194, 10, 10) ;
        box-shadow: rgb(194, 10, 10) 0px 0px 0px 0px;
    } 
        
        
.btn-shadow-drop--black {  
        border: 1px solid rgb(51, 51, 51);  
        color: white;  
        box-shadow: rgb(255, 255, 255) 4px 4px 0px 0px; 
    }  