.poster {
    margin-bottom: 28px;
    background-color: rgb(226, 9, 9);
    height: 500px;
    width: 250px;
    padding: 24px;
    
}

.crawl {
    background-color: rgb(50, 50, 50);
    padding: 24px;
    text-align: center;
}