body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-image: url('../images/hero-star.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@media (max-width: 1080px) {
    header {
        background-image: url('../images/hero-star-m.jpg');
    }
}

.section-subtitle {
    margin: 0 14px;
}


a {
    cursor: pointer;
}

ul {
    list-style: none;
    padding:0;
}

li {
    padding: 10px;
}

li:nth-child(odd) {
    background-color: #efefef;
}

li img {
    max-width: 10%;
    display: block;
}